:root {
    --background-color: darkblue;
    --border: 1px solid black;
    --box-shadow: 0 0 30px gray;
    --text-center: center;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

h1 {
    color: steelblue;
}

img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: var(--box-shadow);
}

main {
    max-width: 840px;
    grid-column: 2/3;
    margin: 1rem;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: var(--text-center);
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
    display: block;
}

aside h2 {
    position: absolute;
    top: 47px;
    left: 150px;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: var(--box-shadow);
    float: right;
}

p {
    padding: 0;
}

header,
footer, .grid {
    max-width: 840px;
    margin: 0 auto;
}

footer {
    margin-top: 15px;
    border-top: var(--border);
    text-align: var(--text-center);
}

/* CSS HEADER STYLE */
.box {
    padding: 1rem;
    margin: 1rem;
    color: #060;
    border: 1px solid rgb(0 0 0 / 10%);
}
.grid {
  display: grid;
  align-items: center;
}